{% extends "default" %}
{% block content %}
{% for project in page.pagination.items %}
<article class="overview">
    <header>
        <h3>

            <a href="{{ site.url }}{{ project.url }}">
                {{ project.title }}

                {% if project.location %}
                    <br/><span style="font-weight: normal; font-size: small">{{ project.location }}</span>
                {% endif %}
            </a>


            <span class="side-title">

            {% if project.github %}
            <a class="code-link github-code" href="{{ project.github }}" target="_blank"><i class="fa fa-fw fa-github"></i></a>
            {% elseif project.link %}
            <a class="code-link github-code" href="{{ project.link }}" target="_blank"><i class="fa fa-fw fa-globe"></i></a>
            {% endif %}
            </span>
        </h3>
    </header>
    <p>
        {% if project.thumb %}

        <img class="thumb" src="{{ site.url }}{{ project.thumb }}">
        {% endif %}
        {% if project.description %}
            {{ project.description }}
        {% elseif project.summary %}
            {{ project.summary }}
        {% endif %}



        {% if project.slides %}
        <div>
            <i class="fa fa-fw fa-file-powerpoint-o"></i> <a href="{{ project.slides }}" target="_blank" title="Slides about about {{page.title}}">Slides available here</a>
        </div>
        {% endif %}

    </p>
    {% if project.year %}
    <div>
        <small>
            <time datetime="{{ project.year }}-{{ project.month }}-{{ project.day }}">
                <i class="icon-calendar"></i>
                {{ project.year }}{% if project.month %}-{{ project.month }}{% endif %}{% if project.day %}-{{ project.day }}{% endif %}
            </time>
        </small>
    </div>
    {% endif %}


    {% if project.role %}
    <span class="role"><b>role:</b> {{ project.role }}</span>
    {% endif %}


    <footer class="small">
        {% if project.meta.tags %}
        <div class="span8">
            <small class="tags">
                <i class="icon-tag"></i>
                {% for tag in project.meta.tags %}
                <a href="{{ site.url }}/projects/tags/{{ tag|url_encode(true) }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}

            </small>
        </div>
        {% endif %}

        {% if project.technologies %}
        <div class="span4 technologies">
            <small class="tags">
                <i class="icon-cog"></i>
                {% for tag in project.technologies %}
                {% if loop.index<=4 %}{{ tag }}{% if not loop.last and loop.index<4 %}, {% endif %}{% endif %}
                {% endfor %}

            </small>
        </div>
        {% endif %}
        {#
        -
        # comments
        #}
    </footer>
</article>
{% endfor %}

<div>
    {% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="article clearfix top30">
        {% if page.pagination.previous_page %}
        <a class="left btn previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
        {% endif %}
        {% if page.pagination.next_page %}
        <a class="right btn next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
        {% endif %}
    </nav>
    {% endif %}
</div>
{% endblock %}
