---
layout: projects
title: Asmir Mustafic
generator: [projects_category_index, pagination]
pagination:
    provider: page.category_projects

---
{% block title %}{{ page.category |capitalize }} Projects - {{ page.title }}{% endblock %}
{% block content %}
<h2>{{ page.category |capitalize }}</h2>

{% if page.category == "talks" %}
    Here you can find a list of talks I did in the past.
{% else %}
    Here you can find some {{ page.category }} projects that I'm working on or have worked in the past.
{% endif %}
{{ parent() }}
{% endblock %}
